* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  text-align: center;
}

body {
    padding: 1vh 1vw;
}

.wrapper {
  background-color: #ccc;
  border-radius: 10px;
}

header {
  min-height: 25vh;
  padding: 10px;
}

main {
  min-height: 55vh;
  font-size: 1.5em;
}

footer {
  min-height: 10vh;
  border-top: 1px solid black;
}

h1 {
  font-size: 2em;
  font-weight: 900;
}

h2 {
  font-weight: 400;
  font-style: italic;
  border-bottom: 3px solid black;
}

h3 {
  max-width: 60%;
  margin: 1.2em auto;
  padding: 10px;
  border-radius: 20px;
  background: #eee;
  font-size: 1.5em;
  font-weight: 600;
}

ul {
  list-style-type: none;
  padding: 10px 0;
}
